body {{
    background-image: url("data:image/png;base64,{background}");        
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    }}
p {{
    color: black;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    }}
div[data-testid="StyledLinkIconContainer"]> a, div[data-testid="StyledLinkIconContainer"]> a > svg {{background-color: rgba(255, 255, 255,0); stroke: rgba(0, 0, 0, 0);}}
#popup {{
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        overflow: hidden;
        }}
.button-17, div[data-testid  = "column"] > div > div> div > div > div > button{{
    align-items: center;
       appearance: none;
       background-color: #fff;
       border-radius: 24px;
       border-style: none;
       box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
       box-sizing: border-box;
       color: #3c4043;
       cursor: pointer;
       display: inline-flex;
       fill: currentcolor;



}}